@{
    ViewBag.Title = "Home Page";
}

<main>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
        <!--Stylesheet-->
        <link rel="stylesheet" href="~/Content/login.css">
    </head>

    <body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <!-- <form action="https://google.com"> -->
    <div id="form">

        <h3>Welcome Back</h3>
        <label for="email">Email Address</label>
        <div class="form-inline">
            <input type="email" placeholder="Email" id="email">
            <button id="sendOtp">Send OTP</button>
        </div>



        <label for="otp">OTP</label>
        <input type="text" placeholder="6-digit OTP" id="otp" required>

        <button id="loginButton">Log In</button>
        <!-- <div class="social">
            <div class="go"><i class="fab fa-google"></i>  Google</div>
            <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div> -->
    </div>
    <!-- </form> -->
    <!-- <script src="https://smtpjs.com/v3/smtp.js"></script> -->
    <script src="~/Scripts/login.js"></script>
    <script src="@Html.Raw("https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js")"></script>
    </body>

    </html>
    <h1>@ViewBag.Message</h1>
</main>